__pycache__/
*.py[cod]
*$py.class

backend/venv/
backend/.env
backend/app/__pycache__/
backend/*.pyc

.env
.env.*


.pytest_cache/

build/
dist/
*.egg-info/

*.sqlite3
*.db

*.log
logs/

uploads/

alembic/versions/*.pyc

.langgraph/
checkpoints/
memory/

#frontend
node_modules/

dist/
build/

frontend/.env
frontend/.env.local
frontend/.vite

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vite/

coverage/

.vscode/
.idea/

.DS_Store
Thumbs.db